<a href="https://colab.research.google.com/github/HEMA1188/Guvi-Task-8-NLP/blob/main/English_german_french_spanish1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install translate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting translate
  Downloading translate-3.6.1-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from translate) (7.1.2)
Collecting libretranslatepy==2.1.1
  Downloading libretranslatepy-2.1.1-py3-none-any.whl (3.2 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from translate) (4.9.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from translate) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (1.24.3)
Installing collected packages: libretranslatepy, translate
Successfully installed libretranslatepy-2.1.1 translate-3.6.1

In [ ]:
from translate import Translator
translator= Translator(to_lang="German")
translation = translator.translate("Good Morning!")
print(translation)

Guten Morgen!

In [ ]:
from translate import Translator
translator= Translator(to_lang="Spanish")
translation = translator.translate("Good Morning!")
print(translation)

¡Buenos días!

In [ ]:
from translate import Translator
translator= Translator(to_lang="French")
translation = translator.translate("Good Morning!")
print(translation)

Bonjour!

In [ ]:
from pandas.io.formats.style_render import Series
import pandas as pd
import numpy as np
df=pd.read_csv("English.csv",nrows=500)
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [ ]:
df['Spanish']=''
df['German']=''
df['french']=''

In [ ]:
df.head()

  English words/sentences Spanish German french
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [ ]:
data=df.copy(deep=True)

In [ ]:

data.rename(columns = {'English words/sentences':'English_Sentence'
                        }, inplace = True)

In [ ]:
data.head()

  English_Sentence Spanish German french
0              Hi.
1             Run!
2             Run!
3             Who?
4             Wow!

In [ ]:
data.columns

Index(['English_Sentence', 'Spanish', 'German', 'french'], dtype='object')

In [ ]:
data.isnull().sum()

English_Sentence    0
Spanish             0
German              0
french              0
dtype: int64

In [ ]:
data['English_Sentence'].unique()

array(['Hi.', 'Run!', 'Who?', 'Wow!', 'Fire!', 'Help!', 'Jump.', 'Stop!',
       'Wait!', 'Go on.', 'Hello!', 'I see.', 'I try.', 'I won!',
       'I won.', 'Oh no!', 'Attack!', 'Cheers!', 'Get up.', 'Go now.',
       'Got it!', 'Got it?', 'Hop in.', 'Hug me.', 'I fell.', 'I know.',
       'I left.', 'I lied.', 'I lost.', 'I paid.', "I'm 19.", "I'm OK.",
       'Listen.', 'No way!', 'Really?', 'Thanks.', 'We try.', 'We won.',
       'Ask Tom.', 'Awesome!', 'Be calm.', 'Be cool.', 'Be fair.',
       'Be kind.', 'Be nice.', 'Beat it.', 'Call me.', 'Call us.',
       'Come in.', 'Come on!', 'Come on.', 'Drop it!', 'Get Tom.',
       'Get out!', 'Get out.', 'Go away!', 'Go away.', 'Go home.',
       'Go slow.', 'Goodbye!', 'Hang on!', 'Hang on.', 'He quit.',
       'He runs.', 'Help me!', 'Help me.', 'Help us.', 'Hold it!',
       'Hold on.', 'Hug Tom.', 'I agree.', 'I cried.', 'I dozed.',
       'I drive.', 'I smoke.', 'I snore.', 'I stink.', 'I stood.',
       'I swore.', 'I tried.', 'I waved.', "I'll go.", "I'm Tom.",
       "I'm fat.", "I'm fit.", "I'm hit!", "I'm ill.", "I'm sad.",
       "I'm shy.", "I'm wet.", "It's me!", 'Join us.', 'Keep it.',
       'Kiss me.', 'Me, too.', 'Open up.', 'Perfect!', 'See you!',
       'See you.', 'Show me.', 'Shut up!', 'Skip it.', 'So long.',
       'Take it.', 'Tell me.', 'Tom won.', 'Wake up!', 'Wake up.',
       'Wash up.', 'We know.', 'We lost.', 'Welcome.', 'Who won?',
       'You run.', 'Am I fat?', 'Ask them.', 'Back off!', 'Back off.',
       'Be a man.', 'Be still.', 'Beats me.', 'Call Tom.', 'Cheer up!',
       'Cool off!', 'Cuff him.', 'Drive on.', 'Find Tom.', 'Fix this.',
       'Get down!', 'Get down.', 'Get lost!', 'Get real!', 'Go ahead!',
       'Go ahead.', 'Good job!', 'Grab him.', 'Have fun.', 'He tries.',
       "He's wet.", 'Help Tom.', 'Hi, guys.', 'How cute!', 'How deep?',
       'How nice!', 'Hurry up.', 'I did OK.', 'I did it.', 'I failed.',
       'I forgot.', 'I get it.', 'I got it.', 'I helped.', 'I jumped.',
       'I looked.', 'I moaned.', 'I nodded.', 'I obeyed.', 'I phoned.',
       'I refuse.', 'I rested.', 'I saw it.', 'I sighed.', 'I stayed.',
       'I talked.', 'I use it.', "I'll pay.", "I'll try.", "I'm back.",
       "I'm bald.", "I'm busy.", "I'm calm.", "I'm cold.", "I'm cool.",
       "I'm deaf.", "I'm done.", "I'm fair.", "I'm fast.", "I'm fine.",
       "I'm free!", "I'm free.", "I'm full.", "I'm game.", "I'm glad.",
       "I'm home.", "I'm late.", "I'm lazy.", "I'm okay.", "I'm rich.",
       "I'm safe.", "I'm sick.", "I'm sure.", "I'm tall.", "I'm thin.",
       "I'm tidy.", "I'm ugly.", "I'm weak.", "I'm well.", "I've won.",
       'It helps.', 'It hurts.', 'It works.', "It's Tom.", "It's fun.",
       "It's his.", "It's new.", "It's odd.", "It's red.", "It's sad.",
       'Keep out!', 'Keep out.', 'Kiss Tom.', 'Leave it.', 'Leave me.',
       'Leave us.', "Let's go!", "Let's go.", 'Look out!', 'Marry me.',
       'May I go?', 'Save Tom.', 'Say what?', 'She came.', 'She died.',
       'She runs.', 'Sit down!', 'Sit down.', 'Sit here.', 'Speak up!',
       'Stand up.', 'Stop Tom.', 'Taste it.', 'Tell Tom.', 'Terrific!',
       'They won.', 'Tom came.', 'Tom died.', 'Tom knew.', 'Tom left.',
       'Tom lied.', 'Tom lies.', 'Tom lost.', 'Tom paid.', 'Too late.',
       'Trust me.', 'Try hard.', 'Try some.', 'Try this.', 'Use this.',
       'Warn Tom.', 'Watch me.', 'Watch us.', 'We agree.', "We'll go.",
       "We're OK.", 'What for?', 'What fun!', 'Who came?', 'Who died?',
       'Who fell?', 'Who quit?', "Who's he?", 'Write me.', 'You lost.',
       'After you.', 'Aim. Fire!', 'Am I late?', 'Answer me.',
       'Be seated.', 'Birds fly.', 'Bless you.', 'Call home!',
       'Calm down!', 'Calm down.', 'Can we go?'], dtype=object)

In [ ]:
data.shape

(500, 4)

In [ ]:
data.drop_duplicates(subset="English_Sentence",
                     keep=False, inplace=True)
data.head()

  English_Sentence Spanish German french
0              Hi.
3             Who?
4             Wow!
5            Fire!
6            Help!

In [ ]:
data.tail()

    English_Sentence Spanish German french
492       Birds fly.
493       Bless you.
494       Call home!
495       Calm down!
496       Calm down.

In [ ]:
data.shape

(135, 4)

In [ ]:
data.columns

Index(['English_Sentence', 'Spanish', 'German', 'french'], dtype='object')

In [ ]:
from translate import Translator
translator1= Translator(to_lang="German")
translator2= Translator(to_lang="French")
translator3= Translator(to_lang="Spanish")

germantranslation = translator1.translate(data['English_Sentence'][0])

frenchtranslation = translator2.translate(data['English_Sentence'][0])

spanishtranslation = translator3.translate(data['English_Sentence'][0])
#for i in range(len(data['English_Sentence'])):
#  data['German']=translator.translate(data['English_Sentence'][i])
print(data['English_Sentence'][0],germantranslation)
print(data['English_Sentence'][0],frenchtranslation)
print(data['English_Sentence'][0],spanishtranslation)

Hi. Hallo,
Hi. Salut.
Hi. hola

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data.columns

Index(['English_Sentence', 'Spanish', 'German', 'french'], dtype='object')

In [ ]:
data.tail()

    English_Sentence Spanish German french
130       Birds fly.
131       Bless you.
132       Call home!
133       Calm down!
134       Calm down.

In [ ]:
from translate import Translator
translator1= Translator(to_lang="German")
translator2= Translator(to_lang="French")
translator3= Translator(to_lang="Spanish")

germantranslation = translator1.translate(data['English_Sentence'][130])

frenchtranslation = translator2.translate(data['English_Sentence'][130])

spanishtranslation = translator3.translate(data['English_Sentence'][130])
#for i in range(len(data['English_Sentence'])):
#  data['German']=translator.translate(data['English_Sentence'][i])
print(data['English_Sentence'][130],germantranslation)
print(data['English_Sentence'][130],frenchtranslation)
print(data['English_Sentence'][130],spanishtranslation)

Birds fly. Vögel fliegen.
Birds fly. Les oiseaux volent.
Birds fly. Los pájaros vuelan.

In [ ]:
from translate import Translator
translator1= Translator(to_lang="German")
def get_translation(self, text):

    data = self._make_request(text)

    translation = data['responseData']['translatedText']
    if translation:
        return translation
    else:
        matches = data['matches']
        next_best_match = next(match for match in matches)
        return next_best_match['translation']