<a href="https://colab.research.google.com/github/HEMA1188/Guvi-Task-8-NLP/blob/main/English_german_french_spanish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
pip install translate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: translate in /usr/local/lib/python3.8/dist-packages (3.6.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from translate) (7.1.2)
Requirement already satisfied: libretranslatepy==2.1.1 in /usr/local/lib/python3.8/dist-packages (from translate) (2.1.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from translate) (4.9.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from translate) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->translate) (3.0.4)

In [2]:
from translate import Translator
translator= Translator(to_lang="German")
translation = translator.translate("Good Morning!")
print(translation)

Guten Morgen!

In [3]:
from translate import Translator
translator= Translator(to_lang="Spanish")
translation = translator.translate("Good Morning!")
print(translation)

¡Buenos días!

In [4]:
from translate import Translator
translator= Translator(to_lang="French")
translation = translator.translate("Good Morning!")
print(translation)

Bonjour!

In [8]:
from pandas.io.formats.style_render import Series
import pandas as pd
import numpy as np
df=pd.read_csv("English.csv")
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [9]:
df['Spanish']=''
df['German']=''
df['french']=''

In [10]:
df.head()

  English words/sentences Spanish German french
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [11]:
data=df.copy(deep=True)

In [12]:

data.rename(columns = {'English words/sentences':'English_Sentence'
                        }, inplace = True)

In [13]:
data.head()

  English_Sentence Spanish German french
0              Hi.
1             Run!
2             Run!
3             Who?
4             Wow!

In [14]:
data.columns

Index(['English_Sentence', 'Spanish', 'German', 'french'], dtype='object')

In [15]:
data.isnull().sum()

English_Sentence    0
Spanish             0
German              0
french              0
dtype: int64

In [16]:
data['English_Sentence'].unique()

array(['Hi.', 'Run!', 'Who?', ...,
       "Death is something that we're often discouraged to talk about or even think about, but I've realized that preparing for death is one of the most empowering things you can do. Thinking about death clarifies your life.",
       'Since there are usually multiple websites on any given topic, I usually just click the back button when I arrive on any webpage that has pop-up advertising. I just go to the next page found by Google and hope for something less irritating.',
       "If someone who doesn't know your background says that you sound like a native speaker, it means they probably noticed something about your speaking that made them realize you weren't a native speaker. In other words, you don't really sound like a native speaker."],
      dtype=object)

In [21]:
data.shape

(175621, 4)

In [50]:
data.head()

  English_Sentence Spanish       German french
0              Hi.          Drück mich!
1             Run!          Drück mich!
2             Run!          Drück mich!
3             Who?          Drück mich!
4             Wow!          Drück mich!

In [49]:
data.tail()

,English_Sentence,Spanish,German,french
175616,"Top-down economics never works, said Obama. ""T...",,Drück mich!,
175617,A carbon footprint is the amount of carbon dio...,,Drück mich!,
175618,Death is something that we're often discourage...,,Drück mich!,
175619,Since there are usually multiple websites on a...,,Drück mich!,
175620,If someone who doesn't know your background sa...,,Drück mich!,

In [18]:
data.shape

(175621, 4)

In [19]:
data.columns

Index(['English_Sentence', 'Spanish', 'German', 'french'], dtype='object')

In [43]:
from translate import Translator
translator1= Translator(to_lang="German")
translator2= Translator(to_lang="French")
translator3= Translator(to_lang="Spanish")

germantranslation = translator1.translate(data['English_Sentence'][0])

frenchtranslation = translator2.translate(data['English_Sentence'][0])

spanishtranslation = translator3.translate(data['English_Sentence'][0])
#for i in range(len(data['English_Sentence'])):
#  data['German']=translator.translate(data['English_Sentence'][i])
print(data['English_Sentence'][0],germantranslation)
print(data['English_Sentence'][0],frenchtranslation)
print(data['English_Sentence'][0],spanishtranslation)

Hi. Hallo,
Hi. Salut.
Hi. hola

In [45]:
from translate import Translator
translator1= Translator(to_lang="German")
translator2= Translator(to_lang="French")
translator3= Translator(to_lang="Spanish")

germantranslation = translator1.translate(data['English_Sentence'][100])

frenchtranslation = translator2.translate(data['English_Sentence'][100])

spanishtranslation = translator3.translate(data['English_Sentence'][100])
#for i in range(len(data['English_Sentence'])):
#  data['German']=translator.translate(data['English_Sentence'][i])
print(data['English_Sentence'][100],germantranslation)
print(data['English_Sentence'][100],frenchtranslation)
print(data['English_Sentence'][100],spanishtranslation)

Come in. Treten Sie ein.
Come in. Come in.
Come in. Entra.